<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>To Do List</title>
    <link href= "todolist.css" type= "text/css" rel= "stylesheet">
  </head>
  <body>
This is a list of tasks that need to be completed
  </body>
</html>
